body {
  background-color: #80d4ea;
}

h1 {
  display: inline-block;
}
div {
  padding-top: 240px;
  padding-left: 540px;

}

#hours {
  color: white;
  font-size: 100px;
}

#minutes {
  color: white;
  font-size: 100px;
  &:before{
    content: ":";
  }
}

#seconds {
  color: white;
  font-size: 100px;
  &:before{
    content: ":";
  }
